@{
    ViewData["Title"] = "تأیید ایمیل با موفقیت انجام شد";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">تأیید ایمیل با موفقیت انجام شد</div>
                <div class="card-body">
                    <p>ایمیل شما با موفقیت تأیید شد. به سایت خوش آمدید!</p>
                    <!-- You can add additional content or redirect the user to another page as needed -->
                </div>
            </div>
        </div>
    </div>
</div>
