@model SignInVM

@{
	ViewData["Title"] = "ورود به نرم‌افزار";
}

<div class="container">
	<div class="card my-4 mx-2">
		<div class="row g-0 align-items-center justify-content-center">
			<div class="offset-lg-1 col-lg-5 my-4 my-lg-0 px-2 px-sm-4">
				<div class="card-body">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="card-title">
						<h2>@ViewData["Title"]</h2>
						<small>جهت ورود به سایت لطفا اطلاعات حساب کاربری خود را وارد نمایید و سپس دکمه‌ی ورود را انتخاب کنید.</small>
					</div>
					<form asp-action="Login" method="post">
						<div class="form-floating mb-3">
							<input class="form-control" id="UserName" asp-for="UserName" placeholder="نام کاربری" required>
							<label asp-for="UserName"></label>
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="form-floating">
							<input type="password" class="form-control" id="Password" asp-for="Password" placeholder="کلمه عبور" required>
							<label asp-for="Password"></label>
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<button type="submit" class="float-end btn btn-primary mt-3">ورود</button>
						<div class="col-8 form-check form-switch mt-4 mb-5">
							<input asp-for="RememberMe" class="form-check-input" type="checkbox" role="switch" id="RememberMe">
							<label asp-for="RememberMe" class="form-check-label ms-1"></label>
						</div>

					</form>
					<hr />
					<small>حساب کاربری ندارید؟ <a asp-action="register">ثبت نام کنید</a></small>
				</div>

			</div>
			<div class="offset-lg-1 col-lg-5 d-lg-flex d-none">
				<svg class="bd-placeholder-img" width="100%" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: عکس" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">عکس</text></svg>
			</div>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}