@page "/"

<PageTitle>ناژوفاکتور - فاکتور متصل به مودیان</PageTitle>


<article class="container-fluid">

	<header class="row align-items-center p-sm-5 my-5">
		<div class="col-sm-9">
			<h1 class="display-1 mx-5">ناژوفاکتور، کامل‌ترین نرم‌افزار فاکتورنویسی که خواهید شناخت.</h1>
		</div>
		<div class="col-sm-3">
			<NavLink class="btn btn-lg w-100 mt-3 btn-dark" href="account/Register">شروع کنید</NavLink>
		</div>
	</header>

	<section class="row align-items-center bg-body-secondary p-4">
		<div class="col-sm-6 order-sm-last">
			<img src="https://placehold.co/400" alt="" />
		</div>
		<div class="col-sm-6 text-center">
			<h2>امکان افزودن لوگو</h2>
		</div>
	</section>

	<section class="row align-items-center text-bg-dark p-4">
		<div class="col-sm-6 text-center">
			<img src="https://placehold.co/400" alt="" />
		</div>
		<div class="col-sm-6">
			<h2>امکان قرار دادن مهر ویا امضا</h2>
		</div>
	</section>

	<section class="row align-items-center bg-body-tertiary p-4">
		<div class="col-sm-6 order-sm-last">
			<img src="https://placehold.co/400" alt="" />
		</div>
		<div class="col-sm-6 text-center">
			<h2>امکان افزودن مشتریان</h2>
		</div>
	</section>
	<section class="row align-items-center bg-success-subtle p-4">
		<div class="col-sm-6 order-sm-last">
			<img src="https://placehold.co/400" alt="" />
		</div>
		<div class="col-sm-6 text-center">
			<h2>کمک به محیط زیست</h2>
			<small>با الکترونیکی کردن فاکتور خود از مصرف کاغذ خود بکاهید و از قطع شدن درختان جلوگیری کنید</small>
		</div>
	</section>
	<section class="row align-items-center bg-body-tertiary p-4" style="min-height: 600px;">
		<div class="text-center">
			<h2>و...</h2>
		</div>
	</section>

	<section class="row align-items-center bg-success-subtle p-4">
		<div class="col-sm-7 text-center">
			<h2>پس منتظر چی هستید؟</h2>
		</div>
		<div class="col-sm-5 text-center">
			<NavLink class="btn btn-lg w-100 btn-dark" href="account/Register">همین حالا شروع کنید</NavLink>
		</div>
	</section>
</article>
