<AuthorizeView>
	<Authorized>
		<ul class="navbar-nav mx-auto gap-1 mb-1 mb-lg-0">
			<li class="nav-item">
				<NavLink class="nav-link" href="invoice/List">لیست فاکتورها</NavLink>
			</li>
			<li class="nav-item">

				<NavLink class="nav-link" href="invoice/create">ثبت فاکتور</NavLink>
			</li>
		</ul>
	</Authorized>
	<NotAuthorized>
		<ul class="navbar-nav me-auto gap-1 mb-1 mb-lg-0">
			<li class="nav-item">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">خانه</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="pricing">تعرفه</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="aboutme">درباره ما</NavLink>
			</li>
		</ul>
	</NotAuthorized>
</AuthorizeView>



<div class="navbar-nav gap-1 text-lg-end">
	<AuthorizeView>
		<Authorized>
			@* <NavLink href="Account" class="icon-link text-success text-decoration-none">
					<i class="bi bi-person-fill" aria-hidden="true"></i>پنل کاربری
				</NavLink> *@
			<div class="nav-item">
				<NavLink class="nav-link" href="Account">
					<i class="bi bi-person-fill"></i> حساب کاربری
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="nav-link" href="Account/SignOut">
					<i class="bi bi-door-closed-fill"></i> خروج
				</NavLink>
			</div>
		</Authorized>
		<NotAuthorized>
			<div class="nav-item">
				<NavLink class="nav-link btn icon-link pt-1" href="Account/Login">
					<i class="bi bi-person-fill" aria-hidden="true"></i> ورود
				</NavLink>
			</div>
			<div class="nav-item">
				<NavLink class="btn btn-success" href="account/Register">
					رایگان شروع کنید
				</NavLink>
			</div>
		</NotAuthorized>
	</AuthorizeView>
</div>


